@{
    ViewBag.Title = "Index";
    //Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}


<div class="box">
    <img class="homepicture" src="https://themes.getmotopress.com/luviana/wp-content/uploads/sites/27/2019/07/slide-2-new-2560x1268.jpg" />

    <h2>HOTEL BOOKING</h2>

    <div class="info-page">

        <p>Our hotels have wide range of rooms for you to offer. Standard rooms, deluxe rooms or two-bedroom apartment – at our hotels you will for sure find what suits you best.  All apartments have modern design, all needed amenities and perfect view from windows.</p>
        <span class="more-link">
            @Html.ActionLink("MORE INFO", "Introduce", "Home")<span>
            </span>
        </span>
    </div>



</div>


<style>

    .homepicture {
        max-height: 100%;
        max-width: 100%;
    }

    .box {
        color: #ffffff;
    }

        .box h2 {
            position: absolute;
            top: 45%;
            padding-bottom: 20%;
            font-size: 50px;
            left: 59px;
            max-width: 70%;
        }

        .box p {
            position: absolute;
            top: 58%;
            padding-bottom: 20px;
            font-size: 20px;
            left: 75px;
            width: 70%;
            text-align: justify;
        }

        .box .more-link {
            position: absolute;
            top: 72%;
            left: 75px;
            border: 2px solid #ffff;
            border-radius: 10px;
            padding: 10px;
        }

        .box a:-webkit-any-link {
            color: #ffffff;
            border-width: 1px;
        }

        .box .more-link:hover {
            background-color: #777b13;
        }
</style>