@using Hotel.Models
@model List<Room>

<h2>Rooms</h2>

<table> 
    <tr>
        <th>Room Number</th>
        <th>Room Price</th>
        <th>Room Capacity</th>
        <th>Room Description</th>
    </tr>
    @foreach (var room in Model)
    {
        <tr>
            <td>@room.RoomNumber</td>
            <td>@room.RoomPrice</td>
            <td>@room.RoomCapacity</td>
            <td>@room.RoomDescription</td>
        </tr>
    }
</table>
