@{
    ViewBag.Title = "Select Room Type";
}

<h2>Select Room Type</h2>

@using (Html.BeginForm("SelectRoomsByType", "Client", FormMethod.Post, new { id = "roomTypeForm" }))
{
    @Html.Label("Room Type:")
    @Html.DropDownList("roomTypeId", (SelectList)ViewBag.RoomTypes, "-- Chọn Loại Phòng --")
    <input type="submit" value="Submit" />
}

<div id="roomsContainer"></div>
